body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;

    input {
        box-sizing: border-box;
    }

    .p-input {
        height: 30px;
        border: 1px solid #dedede;
        outline: none;
        padding-left: 10px;
    }

    // BUTTON STYLES
    // Primary Button
    .p-button {
        height: 30px;
        border: 1px solid #dedede;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: #7599d2;
            color: #fff;
        }
    }

    // Secondary Button
    .s-button {
        height: 30px;
        color: #fff;
        background-color: #77cf71;
        border: 1px solid #77cf71;
        outline: none;
        cursor: pointer;

        &:hover {
            opacity: 0.85;
        }
    }

    // Warning Button
    .w-button {
        height: 30px;
        color: #fff;
        background-color: #d57272;
        border: 1px solid #d57272;
        outline: none;
        cursor: pointer;

        &:hover {
            opacity: 0.85;
        }
    }

    .p-checkbox {
        height: 20px;
        width: 20px;
    }

    .page {
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
    }

    .content {
        padding: 30px 30px 10px 30px;
    }






}